@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* reset */
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
}

/* content section*/
.content{
  width: 60%;
  color:#2C3A47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  padding-right: 15%;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h1{
  font-size: 60px;
}
.logo img{
  margin-right: 5px;
}

.description{
  margin-top: 2px;
}

.more{
  margin-top: 20px;
}
.more a{
  text-decoration: none;
  color: grey;
  transition: all 0.3s;
}
.more:hover a{
  text-decoration:underline;
  color: #2C3A47;
}


/* signup form section*/
.signup{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2C3A47;
  color: white;
  box-shadow: -10px -10px 10px 0 rgba(0, 0, 0, 0.2);
}


.signup h1{
  font-size: 35px;
}

.underline{
  height: 2px;
  width: 100px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 10px;
}

/* styling input label */
.input-group{
  width:450px ;
}
.input-field{
  position: relative;
  height: 30px; 
  line-height: 40px;
  margin-bottom:40px;
  outline: none;
  font-size: 15px;
  transition: all 0.5s ease;
}

.input-group input{
  position: absolute;
  width: 100%;
  padding: 0 15px;
  line-height: 45px;
  border-radius: 10px;
  border: 1px solid white;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelLine{
  position: absolute;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.56);
  padding-inline: 10px;
  padding-top: 5px;
  margin: 0 10px;
  background-color: #2C3A47;
  transition: 0.2s ease;
}

input:focus,
input:valid{
  outline: none;
  color:#F8EFBA ;
  border: 3px solid #F8EFBA;
}

input:focus + .labelLine,
input:valid + .labelLine{
  color:#F8EFBA ;
  height: 30px;
  line-height: 30px;
  transform: translate(-7px,-20px) scale(0.88);
  z-index: 1111;
}

/* user help section */

.user-help{
  display: flex;
  justify-content: space-between;
}
.checkmark{
  display: flex;
  align-items: center;
}
#check-remember{
  height: 12px;
  width: 12px;
  margin-right: 5px;
  cursor: pointer;
}

.forgot-pass a{
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}
.forgot-pass:hover a{
  color: rgb(255, 158, 158);
  text-decoration: none;
}

/* login/logout buttons */

.signup-btn{
  margin-top: 10px;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: #2C3A47;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s;
}

.signup-btn:hover{
  background-color: #82589F;
  color: white;
  cursor: pointer;
  box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.1);
}

.nav-login{
  margin-top: 40px;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

.nav-login a{
  color: grey;
  margin-left: 5px;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-login a:hover{
  color: #F8EFBA;
  font-weight: bold;
}